body {
  background: #a5c1d8;

}

.task {
  display: flex;
  align-items: stretch;
}

.container {
  padding: 25px;
  width: 800px;
  display: block;
}








#todolistadder {
  border: 1px solid blue;
  padding:15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

/* #taskinput {
  width: 75%;
}

#markbutton {
  width: 15%;
} */




#todolist {
  border: 1px solid black; 
  align-items: stretch; 
  padding:15px;
  text-align:left;
  position: relative;

}

#footer {
  border: 1px solid green;  
  padding:15px;
  display: flex;
  justify-content:space-between;
}

#taskdone {
  width: 10%;
}

#task {
  width: 75%;
}

#taskremover {
  width: 15%;
}
