body {
  background: #a5c1d8;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;

}

.task {
  display: flex;
  align-items: stretch;
}

.container {
  padding: 25px;
  width: 800px;
  display: block;
}

#todolistadder {
  border: 1px solid blue;
  padding:15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

#todolistadder *::placeholder {

  color: green;
}

#todolist {
  border: 1px solid black; 
  align-items: stretch; 
  padding:15px;
  text-align:left;
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
}

#footer {
  border: 1px solid green;  
  padding:15px;
  display: flex;
  justify-content:space-between;
}

#taskdone {
  width: 10%;
}

#task {
  width: 75%;
}

#taskremover {
  width: 15%;
}
